<p style="color: green"><%= notice %></p>

<%= render @phase %>

<div>
  <%= link_to "Edit this phase", edit_project_phase_path(@project, @phase) %> |
  <%= link_to "Back to phases", project_phases_path %>

  <%= button_to "Destroy this phase", [@project, @phase], method: :delete %>
</div>
